<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Porsche </title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/img/logo/logo1.png" width="130" height="70">
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration">Register</a>
                </div>
            </div>
        </nav>
        <div class="border-bottom shadow ">
            <div class="container">
                <div class="row">
                    <div class="col text-center border-start border-end">
                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Error">Models</a>
                    </div>
                    <div class="col text-center border-end">
                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Error">Cars in stock</a>
                    </div>
                    <div class="col text-center border-end">
                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Error">Service & Accessories</a>
                    </div>
                    <div class="col text-center border-end">
                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Error">Offers</a>
                    </div>
                    <div class="col text-center border-end">
                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Error">Events</a>
                    </div>
                    <div class="col text-center border-end">
                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Error">About</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="mycontainer">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <footer id="footer" class=" footer border-top">
        <div class="container">
            <p>© 2021 Dr. Ing. h.c. F. Porsche AG. (by Selemetow Dmitriy)</p>
        </div>
    </footer>
</body>
</html>
